In [155]:
import pandas as pd
import numpy as np
import re

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
flats = pd.read_csv("./flats.csv")
flats.head()

In [ ]:
# dropping link column - not useful in analysis 
flats = flats.drop(columns='link')

In [ ]:
flats.shape

In [ ]:
flats.info()

In [ ]:
flats.isnull().sum()

In [ ]:
backup = flats.copy()

### society

In [ ]:
flats['society'].value_counts().shape

There are 638 unique society names

In [ ]:
flats['society'] = flats['society'].str.lower().str.replace(r'\d+\.\d+\s★','', regex=True)
# re.sub(r'\d+\.\d+\s★', '', flats['society'])

In [ ]:
flats['society'].nunique()

now we have 607 unique society names

### price

In [ ]:
flats['price'].value_counts()

In [ ]:
flats[flats['price'] == 'Price on Request'].count()

- in 11 rows, price has a value 'Price on Request',
- dropping these rows because 11 is very small as compared to our 2500 rows of data

In [ ]:
flats = flats[flats['price'] != 'Price on Request']

In [112]:
def handle_price(x):
    if isinstance(x, str):  # Check if x is a string
        if 'Lac' in x:
            return round(float(x.split(' ')[0]) / 100, 2)
        else:
            return round(float(x.split(' ')[0]), 2)
    return x  # Return NaN as-is

flats['price'] = flats['price'].apply(handle_price)

### area

In [ ]:
flats['area'] = pd.to_numeric(flats['area'].str.split('/').str.get(0).str.replace(',','').str.replace('₹',''))

In [198]:
# renaming "area" column to "price_per_sqft"

flats.rename(columns={'area' : "price_per_sqft"}, inplace=True)

In [200]:
flats.columns

Index(['property_name', 'society', 'price', 'price_per_sqft', 'areaWithType',
       'bedRoom', 'bathroom', 'balcony', 'additionalRoom', 'address',
       'floorNum', 'facing', 'agePossession', 'nearbyLocations', 'description',
       'furnishDetails', 'features', 'rating', 'property_id'],
      dtype='object')

In [202]:
# calculating built-up area from price of hte flat and price/sq.ft. and making a new column "area"
flats.insert(loc=4, column="area", value=round((flats['price'] * 10000000)/ flats['price_per_sqft']))

### bedroom

In [137]:
flats['bedRoom'].value_counts()

3 Bedrooms    1437
2 Bedrooms     944
4 Bedrooms     478
1 Bedroom      104
5 Bedrooms      31
6 Bedrooms       3
Name: bedRoom, dtype: int64

In [158]:
flats['bedRoom'] = flats['bedRoom'].str.split(' ').str.get(0).astype(int)

In [141]:
flats['bedRoom'].value_counts()

3    1437
2     944
4     478
1     104
5      31
6       3
Name: bedRoom, dtype: int64

In [ ]:
# dropping rows which had null values in multiple columns like bedrooms, bathroom , balconies and columns after that

flats = flats[~flats['bedRoom'].isnull()]

### bathroom

In [153]:
flats['bathroom'].value_counts()

2    1044
3     989
4     636
5     169
1     112
6      42
7       5
Name: bathroom, dtype: int64

In [157]:
flats['bathroom'] = flats['bathroom'].str.split(' ').str.get(0).astype(int)

In [146]:
flats['bathroom'].value_counts()

2    1044
3     989
4     636
5     169
1     112
6      42
7       5
Name: bathroom, dtype: int64

### balcony

In [148]:
flats['balcony'].value_counts()

3 Balconies     974
3+ Balconies    862
2 Balconies     749
1 Balcony       315
No Balcony       97
Name: balcony, dtype: int64

In [168]:
flats['balcony'] = flats['balcony'].str.split(' ').str.get(0).str.replace('No','0')

### additional room

In [170]:
flats['additionalRoom'].value_counts()

Servant Room                                     629
Study Room                                       232
Others                                           179
Pooja Room                                       132
Study Room,Servant Room                           81
Store Room                                        76
Pooja Room,Servant Room                           60
Servant Room,Others                               52
Servant Room,Pooja Room                           30
Study Room,Others                                 27
Pooja Room,Study Room,Servant Room,Others         25
Pooja Room,Study Room,Servant Room                24
Servant Room,Store Room                           19
Pooja Room,Study Room                             13
Pooja Room,Study Room,Servant Room,Store Room     12
Study Room,Pooja Room                              8
Servant Room,Study Room                            8
Study Room,Servant Room,Store Room                 7
Pooja Room,Store Room                              6
Pooja Room,Others                                  6
Others,Servant Room                                6
Servant Room,Study Room,Pooja Room,Store Room      6
Pooja Room,Servant Room,Others                     6
Study Room,Servant Room,Others                     5
Pooja Room,Store Room,Study Room,Servant Room      4
Pooja Room,Study Room,Store Room                   4
Servant Room,Pooja Room,Study Room,Store Room      3
Study Room,Pooja Room,Store Room                   3
Store Room,Servant Room                            3
Servant Room,Study Room,Store Room                 2
Pooja Room,Study Room,Others                       2
Study Room,Pooja Room,Servant Room                 2
Servant Room,Others,Store Room,Pooja Room          2
Servant Room,Others,Pooja Room                     2
Study Room,Servant Room,Pooja Room,Store Room      2
Others,Study Room                                  1
Servant Room,Study Room,Others                     1
Servant Room,Pooja Room,Study Room                 1
Servant Room,Study Room,Pooja Room                 1
Store Room,Pooja Room,Servant Room                 1
Servant Room,Pooja Room,Store Room,Study Room      1
Study Room,Store Room                              1
Store Room,Study Room                              1
Servant Room,Pooja Room,Store Room                 1
Study Room,Servant Room,Store Room,Pooja Room      1
Study Room,Servant Room,Pooja Room                 1
Pooja Room,Servant Room,Study Room,Store Room      1
Pooja Room,Study Room,Store Room,Servant Room      1
Store Room,Pooja Room                              1
Name: additionalRoom, dtype: int64

In [174]:
flats['additionalRoom'] = flats['additionalRoom'].fillna('not available').str.lower()

### floorNum

In [177]:
flats['floorNum'].value_counts()

2nd   of 4 Floors           74
3rd   of 4 Floors           71
4th   of 4 Floors           62
1st   of 4 Floors           61
12nd   of 14 Floors         49
14th   of 14 Floors         48
Ground of 14 Floors         40
10th   of 14 Floors         35
7th   of 14 Floors          35
8th   of 14 Floors          34
4th   of 14 Floors          28
6th   of 14 Floors          27
2nd   of 2 Floors           26
1st   of 14 Floors          26
3rd   of 3 Floors           26
3rd   of 14 Floors          24
5th   of 14 Floors          24
8th   of 19 Floors          24
11st   of 14 Floors         23
1st   of 1 Floors           23
9th   of 14 Floors          23
9th   of 9 Floors           23
5th   of 12 Floors          22
2nd   of 3 Floors           22
2nd   of 14 Floors          21
8th   of 18 Floors          20
10th   of 19 Floors         18
6th   of 18 Floors          18
10th   of 18 Floors         17
9th   of 13 Floors          17
7th   of 15 Floors          17
12nd   of 12 Floors         17
Ground of 1 Floors          17
7th   of 18 Floors          17
3rd   of 18 Floors          16
5th   of 15 Floors          16
9th   of 15 Floors          15
1st   of 3 Floors           15
2nd   of 12 Floors          15
6th   of 12 Floors          15
6th   of 19 Floors          14
Ground of 4 Floors          13
3rd   of 13 Floors          13
5th   of 5 Floors           13
1st   of 2 Floors           13
7th   of 7 Floors           13
10th   of 26 Floors         13
6th   of 10 Floors          13
6th   of 15 Floors          12
10th   of 10 Floors         12
17th   of 17 Floors         11
4th   of 10 Floors          11
11st   of 18 Floors         11
9th   of 26 Floors          11
15th   of 19 Floors         11
9th   of 24 Floors          11
6th   of 6 Floors           11
16th   of 19 Floors         11
8th   of 8 Floors           11
8th   of 12 Floors          11
4th   of 13 Floors          11
7th   of 26 Floors          10
4th   of 12 Floors          10
7th   of 13 Floors          10
2nd   of 19 Floors          10
7th   of 21 Floors          10
12nd   of 18 Floors         10
6th   of 13 Floors          10
4th   of 15 Floors          10
1st   of 26 Floors          10
3rd   of 9 Floors           10
10th   of 12 Floors         10
3rd   of 5 Floors           10
14th   of 15 Floors          9
14th   of 19 Floors          9
12nd   of 17 Floors          9
5th   of 18 Floors           9
3rd   of 12 Floors           9
18th   of 19 Floors          9
8th   of 15 Floors           9
6th   of 16 Floors           9
15th   of 29 Floors          9
8th   of 22 Floors           9
9th   of 20 Floors           9
7th   of 17 Floors           9
13rd   of 14 Floors          9
7th   of 12 Floors           9
6th   of 26 Floors           9
12nd   of 19 Floors          8
10th   of 17 Floors          8
5th   of 9 Floors            8
3rd   of 15 Floors           8
2nd   of 8 Floors            8
9th   of 18 Floors           8
8th   of 24 Floors           8
10th   of 13 Floors          8
8th   of 26 Floors           8
1st   of 19 Floors           8
2nd   of 15 Floors           8
4th   of 26 Floors           8
12nd   of 26 Floors          8
3rd   of 19 Floors           8
8th   of 13 Floors           8
12nd   of 24 Floors          8
9th   of 12 Floors           8
5th   of 13 Floors           8
2nd   of 5 Floors            8
14th   of 24 Floors          8
4th   of 19 Floors           7
9th   of 19 Floors           7
16th   of 16 Floors          7
5th   of 29 Floors           7
11st   of 24 Floors          7
11st   of 11 Floors          7
2nd   of 13 Floors           7
7th   of 19 Floors           7
2nd   of 17 Floors           7
12nd   of 13 Floors          7
11st   of 26 Floors          7
1st   of 13 Floors           7
11st   of 13 Floors          7
8th   of 21 Floors           7
10th   of 21 Floors          7
8th   of 10 Floors           7
13rd   of 13 Floors          7
2nd   of 10 Floors           7
5th   of 20 Floors           7
12nd   of 15 Floors          7
11st   of 12 Floors          6
Ground of 16 Floors          6
5th   of 22 Floors           6
1st   of 5 Floors            6
1st   of 10 Floors           6
2nd   of 20 Floors           6
14th   of 27 Floors          6
16th   of 18 Floors          6
12nd   of 22 Floors          6
11st   of 19 Floors          6
17th   of 19 Floors          6
10th   of 29 Floors          6
10th   of 20 Floors          6
6th   of 9 Floors            6
19th   of 19 Floors          6
Ground of 3 Floors           6
3rd   of 25 Floors           6
Ground of 15 Floors          6
4th   of 17 Floors           6
4th   of 18 Floors           6
15th   of 15 Floors          6
5th   of 25 Floors           6
5th   of 10 Floors           6
10th   of 15 Floors          6
7th   of 20 Floors           6
8th   of 30 Floors           5
11st   of 16 Floors          5
7th   of 8 Floors            5
4th   of 9 Floors            5
9th   of 11 Floors           5
7th   of 27 Floors           5
9th   of 30 Floors           5
8th   of 9 Floors            5
9th   of 22 Floors           5
15th   of 28 Floors          5
4th   of 27 Floors           5
6th   of 17 Floors           5
3rd   of 20 Floors           5
15th   of 18 Floors          5
18th   of 29 Floors          5
10th   of 25 Floors          5
12nd   of 29 Floors          5
5th   of 8 Floors            5
Ground of 19 Floors          5
4th   of 22 Floors           5
6th   of 20 Floors           5
15th   of 21 Floors          5
Ground of 12 Floors          5
11st   of 25 Floors          5
1st   of 12 Floors           5
10th   of 24 Floors          5
10th   of 27 Floors          5
Ground of 21 Floors          5
6th   of 11 Floors           5
16th   of 26 Floors          5
11st   of 30 Floors          5
1st   of 7 Floors            5
1st   of 15 Floors           5
14th   of 16 Floors          5
5th   of 19 Floors           5
14th   of 29 Floors          5
11st   of 29 Floors          5
12nd   of 21 Floors          5
25th   of 25 Floors          4
17th   of 25 Floors          4
13rd   of 21 Floors          4
13rd   of 19 Floors          4
20th   of 26 Floors          4
7th   of 11 Floors           4
8th   of 16 Floors           4
3rd   of 17 Floors           4
12nd   of 30 Floors          4
5th   of 16 Floors           4
7th   of 24 Floors           4
13rd   of 25 Floors          4
17th   of 26 Floors          4
15th   of 16 Floors          4
8th   of 20 Floors           4
3rd   of 10 Floors           4
2nd   of 11 Floors           4
15th   of 26 Floors          4
3rd   of 22 Floors           4
5th   of 24 Floors           4
5th   of 23 Floors           4
Ground of 13 Floors          4
6th   of 30 Floors           4
17th   of 18 Floors          4
14th   of 26 Floors          4
15th   of 25 Floors          4
2nd   of 9 Floors            4
22nd   of 30 Floors          4
15th   of 23 Floors          4
Ground of 17 Floors          4
17th   of 24 Floors          4
15th   of 32 Floors          4
7th   of 9 Floors            4
3rd   of 11 Floors           4
20th   of 20 Floors          4
23rd   of 26 Floors          4
18th   of 32 Floors          4
14th   of 21 Floors          4
2nd   of 16 Floors           4
7th   of 10 Floors           4
19th   of 40 Floors          4
9th   of 10 Floors           4
12nd   of 16 Floors          4
14th   of 17 Floors          4
4th   of 8 Floors            4
11st   of 17 Floors          4
11st   of 15 Floors          4
14th   of 18 Floors          4
19th   of 24 Floors          4
1st   of 18 Floors           4
11st   of 20 Floors          4
22nd   of 24 Floors          4
3rd   of 26 Floors           3
3rd   of 16 Floors           3
10th   of 16 Floors          3
13rd   of 15 Floors          3
10th   of 28 Floors          3
12nd   of 23 Floors          3
4th   of 20 Floors           3
2nd   of 26 Floors           3
31st   of 32 Floors          3
1st   of 11 Floors           3
8th   of 17 Floors           3
21st   of 24 Floors          3
19th   of 21 Floors          3
17th   of 30 Floors          3
1st   of 35 Floors           3
4th   of 21 Floors           3
27th   of 27 Floors          3
14th   of 32 Floors          3
11st   of 27 Floors          3
10th   of 23 Floors          3
2nd   of 22 Floors           3
24th   of 24 Floors          3
21st   of 22 Floors          3
17th   of 20 Floors          3
4th   of 16 Floors           3
6th   of 29 Floors           3
6th   of 24 Floors           3
8th   of 25 Floors           3
30th   of 32 Floors          3
19th   of 30 Floors          3
4th   of 29 Floors           3
17th   of 29 Floors          3
18th   of 18 Floors          3
6th   of 21 Floors           3
5th   of 17 Floors           3
1st   of 25 Floors           3
5th   of 26 Floors           3
19th   of 29 Floors          3
18th   of 30 Floors          3
23rd   of 23 Floors          3
12nd   of 27 Floors          3
18th   of 26 Floors          3
8th   of 11 Floors           3
6th   of 22 Floors           3
6th   of 23 Floors           3
7th   of 23 Floors           3
15th   of 20 Floors          3
15th   of 40 Floors          3
15th   of 22 Floors          3
Ground of 18 Floors          3
16th   of 20 Floors          3
9th   of 21 Floors           3
3rd   of 8 Floors            3
6th   of 8 Floors            3
15th   of 39 Floors          3
20th   of 28 Floors          3
8th   of 40 Floors           3
Ground of 26 Floors          3
10th   of 30 Floors          3
26th   of 30 Floors          3
5th   of 30 Floors           3
9th   of 16 Floors           3
9th   of 40 Floors           3
11st   of 23 Floors          2
Lower Ground of 4 Floors     2
2nd   of 40 Floors           2
23rd   of 29 Floors          2
21st   of 27 Floors          2
13rd   of 20 Floors          2
9th   of 29 Floors           2
10th   of 40 Floors          2
25th   of 29 Floors          2
7th   of 22 Floors           2
13rd   of 30 Floors          2
4th   of 34 Floors           2
8th   of 23 Floors           2
9th   of 27 Floors           2
19th   of 27 Floors          2
3rd   of 24 Floors           2
27th   of 29 Floors          2
2nd   of 28 Floors           2
40th   of 40 Floors          2
17th   of 23 Floors          2
4th   of 7 Floors            2
15th   of 24 Floors          2
2nd   of 18 Floors           2
2nd   of 7 Floors            2
2nd   of 25 Floors           2
24th   of 30 Floors          2
2nd   of 6 Floors            2
20th   of 22 Floors          2
22nd   of 25 Floors          2
2nd   of 32 Floors           2
43   of 47 Floors            2
1st   of 30 Floors           2
1st   of 20 Floors           2
15th   of 31 Floors          2
1st   of 8 Floors            2
11st   of 21 Floors          2
23rd   of 34 Floors          2
16th   of 34 Floors          2
18th   of 24 Floors          2
16th   of 30 Floors          2
16th   of 27 Floors          2
7th   of 30 Floors           2
14th   of 20 Floors          2
19th   of 20 Floors          2
16th   of 21 Floors          2
8th   of 34 Floors           2
25th   of 30 Floors          2
16th   of 24 Floors          2
20th   of 23 Floors          2
16th   of 36 Floors          2
9th   of 28 Floors           2
2nd   of 24 Floors           2
1st   of 17 Floors           2
3rd   of 33 Floors           2
8th   of 32 Floors           2
10th   of 32 Floors          2
Ground of 51 Floors          2
39th   of 40 Floors          2
28th   of 30 Floors          2
7th   of 16 Floors           2
13rd   of 40 Floors          2
20th   of 25 Floors          2
9th   of 17 Floors           2
4th   of 5 Floors            2
12nd   of 25 Floors          2
1st   of 24 Floors           2
6th   of 31 Floors           2
7th   of 29 Floors           2
1st   of 22 Floors           2
10th   of 22 Floors          2
5th   of 11 Floors           2
2nd   of 21 Floors           2
17th   of 33 Floors          2
8th   of 28 Floors           2
10th   of 11 Floors          2
Ground of 23 Floors          2
8th   of 29 Floors           2
3rd   of 27 Floors           2
14th   of 28 Floors          2
3rd   of 32 Floors           2
15th   of 17 Floors          2
16th   of 32 Floors          2
3rd   of 29 Floors           2
18th   of 21 Floors          2
15th   of 45 Floors          2
7th   of 36 Floors           2
1st   of 16 Floors           2
4th   of 11 Floors           2
5th   of 35 Floors           1
13rd   of 34 Floors          1
3rd   of 28 Floors           1
12nd   of 40 Floors          1
7th   of 40 Floors           1
13rd   of 26 Floors          1
17th   of 28 Floors          1
18th   of 35 Floors          1
22nd   of 40 Floors          1
14th   of 25 Floors          1
Ground of 2 Floors           1
16th   of 41 Floors          1
13rd   of 22 Floors          1
3rd   of 7 Floors            1
17th   of 31 Floors          1
Ground of 40 Floors          1
Ground of 5 Floors           1
21st   of 23 Floors          1
Ground of 22 Floors          1
10th   of 33 Floors          1
3rd   of 30 Floors           1
3rd   of 31 Floors           1
Lower Ground of 1 Floors     1
19th   of 32 Floors          1
Ground of 6 Floors           1
13rd   of 17 Floors          1
20th   of 24 Floors          1
45   of 47 Floors            1
22nd   of 23 Floors          1
30th   of 34 Floors          1
Ground of 25 Floors          1
16th   of 45 Floors          1
1st   of 6 Floors            1
9th   of 25 Floors           1
13rd   of 47 Floors          1
5th   of 36 Floors           1
34th   of 34 Floors          1
34th   of 42 Floors          1
9th   of 23 Floors           1
29th   of 39 Floors          1
33rd   of 33 Floors          1
27th   of 30 Floors          1
4th   of 6 Floors            1
7th   of 28 Floors           1
8th   of 35 Floors           1
Ground of 29 Floors          1
16th   of 35 Floors          1
44   of 47 Floors            1
5th   of 6 Floors            1
22nd   of 26 Floors          1
3rd   of 36 Floors           1
29th   of 29 Floors          1
16th   of 31 Floors          1
5th   of 21 Floors           1
14th   of 41 Floors          1
5th   of 34 Floors           1
24th   of 36 Floors          1
17th   of 22 Floors          1
21st   of 36 Floors          1
23rd   of 24 Floors          1
18th   of 22 Floors          1
Basement of 13 Floors        1
12nd   of 34 Floors          1
17th   of 47 Floors          1
18th   of 20 Floors          1
24th   of 27 Floors          1
21st   of 26 Floors          1
26th   of 47 Floors          1
7th   of 25 Floors           1
Ground of 11 Floors          1
8th   of 42 Floors           1
26th   of 34 Floors          1
21st   of 29 Floors          1
14th   of 22 Floors          1
33rd   of 42 Floors          1
1st   of 44 Floors           1
24th   of 31 Floors          1
24th   of 51 Floors          1
11st   of 22 Floors          1
2nd   of 36 Floors           1
19th   of 31 Floors          1
16th   of 51 Floors          1
25th   of 36 Floors          1
21st   of 28 Floors          1
7th   of 42 Floors           1
10th   of 51 Floors          1
15th   of 30 Floors          1
Ground of 24 Floors          1
35th   of 35 Floors          1
10th   of 39 Floors          1
33rd   of 48 Floors          1
21st   of 41 Floors          1
32nd   of 32 Floors          1
32nd   of 55 Floors          1
20th   of 32 Floors          1
Basement of 28 Floors        1
19th   of 41 Floors          1
20th   of 34 Floors          1
29th   of 31 Floors          1
16th   of 22 Floors          1
18th   of 25 Floors          1
23rd   of 28 Floors          1
11st   of 36 Floors          1
28th   of 28 Floors          1
Basement of 4 Floors         1
2nd   of 34 Floors           1
4th   of 40 Floors           1
20th   of 47 Floors          1
27th   of 48 Floors          1
6th   of 7 Floors            1
3rd   of 6 Floors            1
20th   of 40 Floors          1
31st   of 40 Floors          1
9th   of 42 Floors           1
4th   of 28 Floors           1
7th   of 32 Floors           1
30th   of 40 Floors          1
4th   of 25 Floors           1
19th   of 23 Floors          1
5th   of 27 Floors           1
24th   of 39 Floors          1
20th   of 43 Floors          1
21st   of 51 Floors          1
12nd   of 28 Floors          1
10th   of 34 Floors          1
18th   of 23 Floors          1
12nd   of 32 Floors          1
23rd   of 40 Floors          1
5th   of 32 Floors           1
1st   of 9 Floors            1
20th   of 29 Floors          1
13rd   of 18 Floors          1
7th   of 34 Floors           1
16th   of 25 Floors          1
6th   of 25 Floors           1
3rd   of 40 Floors           1
12nd   of 39 Floors          1
8th   of 31 Floors           1
20th   of 30 Floors          1
18th   of 51 Floors          1
19th   of 22 Floors          1
19th   of 26 Floors          1
2nd   of 27 Floors           1
14th   of 51 Floors          1
19th   of 39 Floors          1
38th   of 40 Floors          1
15th   of 27 Floors          1
18th   of 40 Floors          1
35th   of 51 Floors          1
22nd   of 28 Floors          1
17th   of 21 Floors          1
4th   of 39 Floors           1
24th   of 32 Floors          1
8th   of 27 Floors           1
28th   of 29 Floors          1
23rd   of 36 Floors          1
Name: floorNum, dtype: int64

In [191]:
flats['floorNum'] = flats['floorNum'].str.split(' ').str.get(0).str.replace('Ground','0').str.replace('Basement','-1').str.replace('Lower','0').str.extract(r'(\d+)')

### adding an additional column "property_type"

In [204]:
flats.insert(loc=0, column="property_type", value="flat")

### exporting "flats" df to a csv file

In [207]:
flats.to_csv("flats_cleaned_v1.csv")

In [209]:
flats.head()

,property_type,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,flat,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ...",C68850746
1,flat,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ...",H68850564
2,flat,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ...",J68850120
3,flat,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN,S68849476
4,flat,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ...",L47956793